{% extends 'layout.html' %}
{% block title %}
    <h1>About Don't Moderate Me</h1>
{% endblock %}
{% block body %}

    <p>Don't Moderate Me is a service that lets you monitor any publicly visible URL for presence or absence of any text that you specify. DMM is created by <a href="https://blog.c-mart.in">Chris Martin</a>. Here is (post link to blog post introducing DMM). The full source code can be found <a href="https://github.com/c-mart/dontmoderateme">on GitHub</a>.</p>
    <p>
    </p>
    <h3>Credits</h3>
    <p>Monitor up and down icons from <a href="http://www.visualpharm.com/must_have_icon_set">VisualPharm Must Have Icons</a>.</p>
{% endblock %}