{% extends 'layout.html' %}
{% block body %}
    Welcome to Don't Moderate Me.
    <h2>Dashboard</h2>
    <h3>Recent Events</h3>
    <h3>Your Monitors</h3>
    <table>
        <tr>
            <th>Description</th>
            <th>URL</th>
            <th>State</th>
            <th></th>
        </tr>
        {% for monitor in monitors %}
            <tr>
                <td>{{ monitor.description }}</td>
                <td>{{ monitor.url }}</td>
                <td>{{ monitor.state | friendly_state }}</td>
                <td><a href="{{ url_for('view_monitor', monitor_id=monitor.id) }}">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}