{% extends 'layout.html' %}
{% block title %}
<h1>Dashboard</h1>
{% endblock %}
{% block body %}
    <p>Welcome to Don't Moderate Me. Click on a monitor description to view detailed status.</p>
    <h2>Your Monitors</h2>
    {% if monitors %}
        <table>
            <tr>
                <th>Monitor</th>
                <th>URL</th>
                <th>Status</th>
            </tr>
            {% for monitor in monitors %}
                <tr>
                    <td><a href="{{ url_for('view_monitor', monitor_id=monitor.id) }}"><strong>{{ monitor.description }}</strong></a></td>
                    <td>{{ monitor.url }}</td>
                    <td>{{ monitor.state | friendly_state }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have no monitors, go <a href="{{ url_for('create_monitor') }}">create one</a>!</p>
    {% endif %}
    <h2>Recent Events</h2>
    {% if checks %}
        <table>
            <tr>
                <th>When</th>
                <th>Monitor</th>
                <th>Event</th>
                <th>Image</th>
            </tr>
            {% for check in checks %}
                <tr>
                    <td>{{ check.timestamp | human_elapsed_time }} ago</td>
                    <td><a href="{{ url_for('view_monitor', monitor_id=check.monitor.id) }}">{{ check.monitor.description }}</a></td>
                    <td>{{ check.result | friendly_state }}</td>
                    <td><a href="{{ url_for('view_event_image', check_id=check.id) }}">view image</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have no recent events.</p>
    {% endif %}
{% endblock %}