{% extends 'layout.html' %}
{% block body %}
    <h2>Get notified when your online posts are removed.</h2>
    <p>You set and forget, we check every day. If your content is removed or modified, we save a picture and send you an email. (Otherwise, we won't bother you!)</p>
    <div class="row">
        <div class="five columns">
            <h4>Use it for</h4>
            <ul>
                <li>Social Media</li>
                <li>Forum Posts</li>
                <li>Product Reviews</li>
                <li>Craigslist Ads</li>
                <li>Blog Comments</li>
            </ul>
            <p>...or any time you're concerned that your posts will disappear.</p>
            <p>For each web page you tell us to monitor, you see an audit trail of events with an image of the page for each event.</p>
        </div>
        <div class="seven columns">
            <p><img src="{{ url_for('static', filename='images/dmm-monitor-example.png') }}" class="drop-shadow" /></p>
        </div>
    </div>
    <p>Don't Moderate Me provides moderation transparency for content authors and other concerned netizens.</p>
    <p class="center">
        <a class="button button-primary signup-button" href="{{ url_for('register') }}">Sign Up, it's Free</a>
    </p>

{% endblock %}