<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Don't Moderate Me</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dark-tango-skeleton.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
</head>
<body>
    <div class="top-nav">
        <ul>
            <li class="left-nav-li"><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li class="left-nav-li"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li class="left-nav-li"><a href="{{ url_for('create_monitor') }}">Create Monitor</a></li>
                <li class="right-nav-li"><a href="{{ url_for('logout') }}">Log out</a></li>
                <li class="dropdown right-nav-li">
                    <a href="#" class="dropbtn">▼ Dropdown</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('home') }}">Uno</a>
                        <a href="{{ url_for('home') }}">Dos</a>
                        <a href="{{ url_for('home') }}">Tres</a>
                        <a href="{{ url_for('home') }}">Catorce</a>
                    </div>
                </li>
                <li class="right-nav-li"><p>Logged in as {{ current_user.email }}</p></li>
            {% else %}
                <li class="right-nav-li"><a href="{{ url_for('login') }}"><strong>Login</strong></a></li>
                <li class="right-nav-li"><a href="{{ url_for('register') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        {% block title %}
            <h1>Don't Moderate Me</h1>
        {% endblock %}
        {% for message in get_flashed_messages() %}
            <div class='flash'>{{ message | safe }}</div>
        {% endfor %}
        <div class="row">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">Don't Moderate Me. Copyright 2016 Chris Martin.</div>
    </div>
</body>
</html>