{% extends 'layout.html' %}
{% from "_helpers.html" import render_field %}
{% block body %}
    <h2>Request Password Reset</h2>

    <form action="{{ url_for('reset_password_request') }}" method="POST">
        <div class="row">
            <div class="six columns">
                {{ form.hidden_tag() }}
                <p>{{ render_field(form.email, class="u-full-width") }}</p>
                <span class="u-pull-right"><input type="submit" value="Request Password Reset" class="button-primary" /></span>
            </div>
        </div>
    </form>

{% endblock %}