alembic
beautifulsoup4
blinker
Flask
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
humanize
itsdangerous
Jinja2
limits
Mako
MarkupSafe
python-editor
python-slugify
pytest
requests
six
SQLAlchemy
Werkzeug
WTForms